<div class="site-menubar">
    <div class="site-menubar-body">
      <div>
        <div>
          <ul class="site-menu" data-plugin="menu">
            <li class="site-menu-category">Dashboard</li>
            <li class="site-menu-item has-sub">
              <a href="/contacts">
                      <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                      <span class="site-menu-title">Contacts</span>
                          <div class="site-menu-badge">
                              <span class="badge badge-pill badge-success"></span>
                          </div>
                  </a>
              
            </li>
            <li class="site-menu-item has-sub">
                <a href="/aboutus">
                        <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                        <span class="site-menu-title">About us</span>
                            <div class="site-menu-badge">
                                <span class="badge badge-pill badge-success"></span>
                            </div>
                    </a>
                
              </li>
           
         </div>
      </div>
    </div>
  
    <div class="site-menubar-footer">
      <!-- <a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip"
        data-original-title="Settings">
        <span class="icon wb-settings" aria-hidden="true"></span>
      </a> -->
      <!-- <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock">
        <span class="icon wb-eye-close" aria-hidden="true"></span>
      </a> -->
      <a href="/login" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
        <span class="icon wb-power" aria-hidden="true"></span>
      </a>
    </div>